/* Navbar fixing  */
.is-fixed .logo-header {
    height: 70px;
    margin-top: 10px;
}

.header-nav {
    position: relative;
    padding: 0px;
    z-index: 7;
    display: flex !important
;
    justify-content: end;
    height: 100px;
}
