/* Navbar fixing  */
.is-fixed .logo-header {
    height: 70px;
    margin-top: 13px;
}

.header-nav {
    position: relative;
    padding: 0px;
    z-index: 7;
    display: flex !important
;
    justify-content: end;
    height: 100px;
}
/* Footer color changing  */

.footer-dark .footer-top p{
    color: #1A1A1A;
}
.footer-dark .widget_services ul li a{
    color: #1A1A1A;
}
.footer-dark .footer-top h6 a {
    color: #1A1A1A;
}
.footer-dark .footer-top p a {
    color: #1A1A1A;
}
.footer-dark .footer-top {
    background-color: rgba(255, 255, 255, 1);
}
.widget-title{
    color: #000 !important;
}
.footer-dark .footer-bottom {
    background-color: #FFFFF7;
}
.footer-bottom .copyrights-text {
    color: #000;
}
.footer-bottom .copyrights-nav li a {
    color: #000;
}
.footer-bottom {
    padding: 20px;
    text-align: center; 
    width: 100%;
}
.footer-top {
    padding: 50px 0 0;
}

.wt-footer-bot-left,
.wt-footer-bot-right {
    display: inline-block;
    width: 49%; 
    vertical-align: middle;
}

.wt-footer-bot-left {
    text-align: left;
}

.wt-footer-bot-right {
    text-align: right;
}
.site-footer li a i {
    font-size: 25px;

}
.widget {
    margin-bottom: 20px;
}

.widget_newsletter ul li a {
    color: #1A1A1A;
    display: inline-flex;
    align-items: center;
}
.widget_newsletter ul li:first-child a {
    align-items: flex-start;
}
.widget_newsletter ul li a i {
    color: #800000;
}
.site-button, 
.site-button-secondry {
    color: #fff;
    padding: 13px 45px;
}
.radius-sm {
    border-radius: 6px;
}
::marker {
   display: none !important;
}

/* About us section  */
.wt-separator.style-square.has-bg {
    border-color: #2d3239;
}
/* why choose us section  */
.icon-content p {
    text-align: justify;
}
/* contact us page  */
.bg-secondry {
    background-color: #800000;
}
.wt-icon-box-wraper.center {
    text-align: center;
    min-height: 183px;
}
.wt-icon-box-wraper {
    min-height: 100px;
}
/* Recent blogs post  */
.recent-post {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.recent-post i {
    color: #800000
}
img {
    vertical-align: middle;
}
.recent-post .con {
    padding-left: 9%;
}
.recent-post .con span {
    font-size: 14px;
    padding-bottom: 3px;
}
.section-head {
    margin-bottom: 15px;
}
img {
  max-width: none ;
}