/* Navbar fixing  */
.is-fixed .logo-header {
    height: 70px;
    margin-top: 13px;
}

.header-style-1 .header-nav .nav {
  margin-right: 55px;
}

.header-nav .navbar-nav a:hover {
    color: #001849 !important;
}

.header-nav .navbar-nav a {
    color: #1A1A1A !important;
    text-decoration: none;
}
a:hover{
    color: #001849 !important ;
}

.wt-nav.wt-nav-pills li a:hover {
    color: #fff !important;
}
.header-nav {
    position: relative;
    padding: 0px;
    z-index: 7;
    display: flex !important
;
    justify-content: end;
    height: 100px;
}
/* bread crumb  */
.wt-breadcrumb li a{
    color: #001849;
}
/* products tmt bars  */
.owl-carousel .ow-client-logo img {
    height: 100px;
    width: 200px;
    object-fit: contain;
}
/* table  */
.table>:not(caption)>*>* {
    background-color: #fff;
}
/* Footer color changing  */
.call-to-action-logos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.call-to-action-logos img {
    background-color: #fff;
    min-height: 75px;
}
.footer-dark .footer-top p{
    color: #1A1A1A;
}
.footer-dark .widget_services ul li a{
    color: #1A1A1A;
}
.footer-dark .footer-top h6 a {
    color: #1A1A1A;
}
.footer-dark .footer-top p a {
    color: #1A1A1A;
}
.footer-dark .footer-top {
    background-color: rgba(255, 255, 255, 1);
}
.widget-title{
    color: #000 !important;
}
.footer-dark .footer-bottom {
    background-color: #FFFFF7;
}
.footer-bottom .copyrights-text {
    color: #000;
}
.footer-bottom .copyrights-nav li a {
    color: #000;
}
.footer-bottom {
    padding: 20px 20px 10px;
    text-align: center; 
    width: 100%;
}
.footer-top {
    padding: 50px 0 0;
}
.constrot-strip{
    background-image:url(../images/footer-strip1.png);
    height: 13px;
}

.wt-footer-bot-left,
.wt-footer-bot-right {
    display: inline-block;
    width: 49%; 
    vertical-align: middle;
}

.wt-footer-bot-left {
    text-align: left;
}

.wt-footer-bot-right {
    text-align: right;
}
.site-footer li a i {
    font-size: 25px;

}
.copyrights-text a {
    color: #000;
}
/* button */
button.scroltop {
    color: #fff !important;
    background: #001849;
}
.widget {
    margin-bottom: 20px;
}

.widget_newsletter ul li a {
    color: #1A1A1A;
    display: inline-flex;
    align-items: center;
}
.widget_newsletter ul li:first-child a {
    align-items: flex-start;
}
.widget_newsletter ul li a i {
    color: #001849;
}
.site-button, 
.site-button-secondry {
    color: #fff;
    padding: 13px 45px;
}
.radius-sm {
    border-radius: 6px;
}
::marker {
   display: none !important;
}

/* About us section  */
.wt-separator.style-square.has-bg {
    border-color: #2d3239;
}
/* why choose us section  */
.icon-content p {
    text-align: justify;
}
/* product details page  */
.internaltabs {
    display: flex;
    flex-direction: column;
}
.internaltabs .nav-tabs {
    display: flex;
    width: 100% !important;
}
.internaltabs .nav-tabs .nav-item {
    width: auto !important;
}
.internaltabs .tab-content {
    margin-left: 0 !important;
}
/* contact us page  */
.bg-secondry {
    background-color: #001849;
}
.wt-icon-box-wraper.center {
    text-align: center;
    min-height: 183px;
}
.wt-icon-box-wraper {
    min-height: 100px;
}
/* tabs */
.wt-tabs vertical tabs-default{
    margin-top: -30px;
}
/* project section  */
.services{
    margin: 0 5%;
}
/* testimonials */
.opacity-03 {
    opacity: 0.35;
}
/* Recent blogs post  */
.recent-post {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.recent-post img {
    max-width: 100px;
    height: auto;
}
.recent-post i {
    color: #001849
}
img {
    vertical-align: middle;
}
.recent-post .con {
    padding-left: 5%;
}
.recent-post .con.con1 {
    padding-left: 0;
    padding-right: 5%;
    text-align: end;
}
.recent-post .con span {
    color: #001849;
    font-size: 14px;
    padding-bottom: 3px;
}
.section-head {
    margin-bottom: 15px;
}
/* img {
  max-width: none ;
} */

.call-to-action-bg {
    background-color: #ffffff;
    border-radius: 12px;
    text-align: center;
    padding: 2.5%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 991px) {
    .call-to-action-bg {
        padding: 2%;
        min-height: 75px;
    }
    .header-style-1.mobile-sider-drawer-menu .header-nav {
        position: fixed;
        width: 200px !important;
        z-index: 999;
        height: 100vh !important;
        overflow-y: inherit !important;
        left: -250px;
        top: 0px;
        transition: all 0.5s linear;
        background-color: #fff;
    }
    .site-button, .site-button-secondry {
        color: #fff;
        padding: 8px 35px;
    }
    .header-nav .nav>li.active>a{
        color: #001849;
    }
    .recent-post .con {
        padding-left: 9%;
        margin-left: 2px;
    }
    .recent-post .con1 {
        padding-left: 9%;
        margin-left: -28px;
    }
}

@media only screen and (max-width: 575px){
    .btn-col-last{
        display: none;
    }
}